<!DOCTYPE html>
<html lang="en">

<!-- ---------Head Partial --------- -->

<%- include('partials/head.ejs', { title: title }); -%>

<body>
    
    <div class="container-about">
    
        <!-- ---------Nav Partial --------- -->

        <%- include('partials/nav.ejs'); -%>

        <!-- --------- About Section --------- -->

        <div class="wrapper-about">
            <div class="title-content">
                
                <p> 
                    I'm a 20 year old <span class="highlight"> Brazilian Digital Artist </span>, who started creating around 2018. I went from being a passionate kid designing 
                    youtube banners in a basement in Rio de Janeiro to working with big gaming companies, teams, and influencers from all around the world. 

                    <br> <br>

                    Mainly focused on <span class="highlight"> Gaming/Esports </span> and having worked on a wide range of projects from the
                    creation of graphics, prints, and merchandising to designing and developing numerous brandings, social media graphics, visuals, promos, and tournament graphics for brands 
                    and influencers, I've been through a lot in almost 4 years of market experience.

                    <br> <br>

                    Well versed in: <span class="highlight"> Adobe Creative Suite </span> (Including After Effects and Premiere)<span class="highlight">, 
                    CLO3D, Marvelous Designer, Figma / Adobe Xd, and Spark AR. </span>
                    
                    <br> <br>

                    I am now currently enrolled at Humber College's <span class="highlight"> Multimedia Design & Development </span> course and living in Toronto after leaving everything behind
                    in Brazil to pursue my dream of <span class="highlight"> living and working abroad </span>, while also honing my craft.

                    <br> <br>

                    Although it might seem like just work, I'm a huge gaming fan, and am really into cars and the automobilistic culture in general. 
                    <br>
                    <span class="highlight"> (Fun Fact: I used to be a sim racer and actually competed in virtual drifting events!) </span>

                    <br> <br>
                    Check out my <a class="project-link" href="/work"> projects</a> to see some of the stuff I've done over the years! I hope we'll be able to work together in the near future! ✌    
                    
                </p> <br>

                <br>

                <h2> <em> Also, feel free to follow me on social media if you want to keep up with my work/life: </em> <br> <br>
                    <a href="https://twitter.com/zShirui">   
                        <img src="./assets/twittericon.png" width="40" height="40" alt="">
                    </a>

                    &nbsp <!-- --------- Blank character to space out icons inline --------- -->

                    <a href="https://www.instagram.com/rfshirui/">   
                        <img src="./assets/instagramicon.png" width="40" height="40" alt="">
                    </a>

                </h2> <br> 
            </div>
        </div>    
    </div>

    <!-- --------- Footer Partial --------- -->

    <%- include('partials/footer.ejs'); -%>

</body>


</html>