<!DOCTYPE html>
<html lang="en">

<!-- --------- Head Partial --------- -->

<%- include('partials/head.ejs', { title: title }); -%>


<body>

    <!-- --------- LKayout Container --------- -->
    
    <div class="container-main">
    
        <!-- --------- Nav Partial --------- -->

        <%- include('partials/nav.ejs'); -%>

        <!-- --------- Home Page Content --------- -->

        <div class="wrapper-main">
            <div class="title-content">
                
                <h3> Hi there! I'm <span class="Rafael">Rafael Shirui</span></h3> <br>
                
                <h1>A Creative with a passion for <br> developing design solutions.</span> </h1> <br>
                
                <p> 
                    3+ years designing within gaming/esports where I had the pleasure of working with numerous brands and influencers, helping them achieve their creative vision. <br> <br>
                    Having worked on a wide range of projects from the creation of graphics, prints, and merchandising for an event with 4 thousand attendees and 1 million unique spectators on twitch.tv, to designing and developing numerous brandings, social media graphics, visuals, promos, and tournament graphics for brands and influencers, I am always motivated for new projects and keen to learn even more.
                </p> <br>

                <br>

                <h2> Over the past years, I was able to contribute creatively to brands such as: <br> <br>
                    <span class="Brands"> 
                        <a href="https://www.facebook.com/gaming/feed/">Facebook Gaming</a> / 
                        <a href="https://www.activision.com/">Activision</a> / 
                        <a href="https://www.blizzard.com/">Blizzard</a> / 
                        <a href="https://alokmusic.com/">Alok</a> / 
                        <a href="https://www.garena.sg/">Garena</a> 
                    </span>
                </h2> <br> 

                <br>
                <a href="/contact"><button> Contact Me </button> </a>
            </div>
        </div>    
    </div>

    <!-- ---------Footer Partial --------- -->

    <%- include('partials/footer.ejs'); -%>

</body>
</html>