<!DOCTYPE html>
<html lang="en">

    <!-- --------- Head Partial --------- -->
 
    <%- include('partials/head.ejs', { title: title }); -%>

<body>

    <!-- --------- LKayout Container --------- -->

    <div class="container-works">

        <!-- --------- Nav Partial --------- -->
    
        <%- include('partials/nav.ejs'); -%>

        <!-- --------- Page Content --------- -->

        <div class="wrapper-main">

            <div class="works-content">
                
                <div class="work-page-title">
                    <h1 class="projects-title"> Projects </h1>
                    <hr align="left"> </hr>
                    <p class="projects-subtitle"> Some of my favorite pieces developed in the past few years of my career. </p>

                </div>

                <!-- --------- Work Grid --------- -->

                <div class="projects-grid">

                    <div class="grid-content">
                        
                        <a href="/blast" class="grid-link">
                            <img class="grid-project-image" src="./assets/blastpremier_thumb.png">
                        </a>

                        <div class="grid-project-text">

                            <h2> Blast Premier Spring </h2>
                            <p class="grid-description"> Motion package for the Blast Premier Spring Tournament. </p>
                            <p class="grid-softwares"> <em> Adobe Photoshop • Adobe Illustrator <br>  Adobe After Effects • Adobe Premiere </em> </p>
                
                        </div> 
                    
                    </div>
                    
                    <div class="grid-content">

                        <a href="/dystopian-outlaw" class="grid-link">
                            <img class="grid-project-image" src="./assets/dystopianoutlaw_thumb.png">
                        </a>

                        <div class="grid-project-text">

                            <h2> "Dystopian Outlaw" - Clothing Line </h2>
                            <p class="grid-description"> A self directed project aimed to create a clothing line and <br> experiment with 3D renders</p>
                            <p class="grid-softwares"> Adobe Photoshop • Adobe Illustrator • Clo3D </p>
                
                        </div> 
                    
                    </div>

                    <div class="grid-content">

                        <a href="/call-of-duty-invitational" class="grid-link">
                            <img class="grid-project-image" src="./assets/codworlds_thumb.gif">
                        </a>

                        <div class="grid-project-text">

                            <h2> Call Of Duty - 2021 Worlds Invitational NA </h2>
                            <p class="grid-description"> Development of the COD 2021 Invitational branding <br> and stream assets </p>
                            <p class="grid-softwares"> Adobe Photoshop • Adobe Illustrator </p>
                
                        </div> 
                    
                    </div>

                    <div class="grid-content">

                        <a href="/nike-x-furia" class="grid-link">
                            <img class="grid-project-image" src="./assets/furiajersey_thumb.png">
                        </a>

                        <div class="grid-project-text">

                            <h2> FURIA 2019 Jersey Remake </h2>
                            <p class="grid-description"> Study Apparel Design project focused on remaking the <br> Nike x Furia 2019 official jersey. </p>
                            <p class="grid-softwares"> <em> Adobe Photoshop • Adobe Illustrator </em> </p>
                
                        </div> 
                    
                    </div>
                    
                    <div class="grid-content">

                        <a href="/ethfan" class="grid-link">
                            <img class="grid-project-image" src="./assets/ethfan_thumb.png">
                        </a>

                        <div class="grid-project-text">

                            <h2> ETH Fan Card </h2>
                            <p class="grid-description"> The making of a trading card model for a NFT project </p>
                            <p class="grid-softwares"> Adobe Photoshop • Adobe Illustrator • Adobe After Effects </p>
                
                        </div> 
                    
                    </div>

                    <div class="grid-content">

                        <a href="/drkz"> 
                            <img class="grid-project-image" src="./assets/DRKZ_thumb.png">
                        </a>    

                    
                        <div class="grid-project-text">

                            <h2> DRKZ Stream Pack </h2>
                            <p class="grid-description"> Tailor-made stream package for DRKZ, the owner of <br> the biggest brazilian GTA RP Server - "Cidade Alta" </p>
                            <p class="grid-softwares"> Adobe Photoshop • Adobe Illustrator </p>
                
                        </div> 
                    </div>

                </div>
            </div>
        </div>

    </div>    

    <!-- --------- Footer Partial --------- -->
    
    <%- include('partials/footer.ejs'); -%>


</body>
</html>