
<!-- Linking Separate Footer CSS File-->

<link rel='stylesheet' type='text/css' media='screen' href='/css/footer.css'>

<!-- Footer -->

 <div class="footer">  

        <div class="footer-item footer-hr">
            <hr>
        </div>
        <div class="footer-item copyright">© 2022 Rafael Shirui, All Rights Reserved.</div>

</div>

</section>