
<!-- Head Partial -->

<%- include('../partials/head.ejs'); -%>

<!-- Bootsrap Responsive Navbar (From Documentation w/ Adjustments) -->

<nav class="navbar  navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/">   
        <img src="./assets/Shiruilogo.png" width="120" height="40" alt="">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      
      <span class="navbar-toggler-icon"></span>
    
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/Work">Projects</a>
        <a class="nav-item nav-link" href="/About">About</a>
        <a class="nav-item nav-link" href="/contact">Contact</a>
      
      </div>
    </div>
  </nav>
